p 
| El S&aacute;bado 3 de Marzo de 2012 nos juntamos luego de mucho tiempo a tocar, y por tal motivo, vos no pod&eacute;s faltar. 

p 
| La direcci&oacute;n es Juli&aacute;n Alvarez 1300, en Palermo, a las 22hs. 