h1 Demo '99

== partial 'song', title: "Elite", track_id: '37478536'
== partial 'song', title: "Cuervos", track_id: '37478539'
== partial 'song', title: "Tubos", track_id: '37478542'


h1 EP 2000

== partial 'song', title: "Volcar", track_id: '37480948'
== partial 'song', title: "Vuela", track_id: '37480949'
== partial 'song', title: "Disco", track_id: '37480950'
== partial 'song', title: "Ángeles Plásticos", track_id: '37480951'

h2 Bonus tracks (demos sin pulir)

== partial 'song', title: "Anguilas", track_id: '37480955'
== partial 'song', title: "Palomo", track_id: '37480953'
== partial 'song', title: "Cobarde", track_id: '37480956'
